<script type="text/javascript">
    EventGallerySlideShowConfiguration = { "slideshow": false, "slideshowAuto": false, "slideshowSpeed": "3000", "slideshowStart": "Start Slideshow", "slideshowStop": "Stop Slideshow", "slideshowCurrent": "{current} of {total}", "slideshowRightClickProtection": false };
    EventGalleryLightboxConfiguration = { "navigationFadeDelay": "0" };
    EventGalleryCartConfiguration = { "add2carturl": "\/\u0433\u0430\u043b\u0435\u0440\u0438\u044f\/singleimage?layout=imagesetselection&format=raw" };
</script>

<div class="sparky_full contentrow">
    <div class="container">
        <div class="row">
            <div class="content_sparky span12">
                <div class="cell_pad">
                    <div id="system-message-container">
                    </div>







                    <style type="text/css">
                        .eventgallery-add2cart {
                            display: none !important;
                        }
                    </style>







                    <div itemscope itemtype="http://schema.org/Event" id="event">


                        <h1 itemprop="name" class="displayname">

                            Фитнес
                        </h1>






                        <div itemprop="description" class="text">


                        </div>


                        <div style="display:none">

                            <meta itemprop="image" content="http://vgym.bg/галерия/download/fitness/Fitness-01%20Medium-JPG/?is_for_sharing=true" /><link rel="image_src" tpe="image/jpeg" href="http://vgym.bg/галерия/download/fitness/Fitness-01%20Medium-JPG/?is_for_sharing=true" />
                            <span itemprop="startDate" content="2017-09-11 04:08:59">

                                Понеделник, 11 Септември 2017
                            </span>

                        </div>









                        <div class="eventgallery-event-gridlist">

                            <div class="eventgallery-simplelist eventgallery-thumbnails thumbnails">




                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=Fitness-01+Medium.JPG"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=Fitness-01+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=Fitness-02+Medium.JPG"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=Fitness-02+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=Fitness-03+Medium.JPG"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=Fitness-03+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=Fitness-04+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=Fitness-04+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=Fitness-05+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=Fitness-05+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=fitness_2+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=fitness_2+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=fitness_3+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1146" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=fitness_3+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=fitness_4+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=fitness_4+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=fitness_5+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=fitness_5+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=fitness&file=fitness_6+Medium.jpg"
                                           title=""
                                           data-title=""
                                           rel="gallery31db504ef095675f8bc7ba8f06882f4e" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=fitness&amp;file=fitness_6+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>




                                <div style="clear: both"></div>

                            </div>

                        </div>









                    </div>







                    <div><a title="Faboba : Cr&eacute;ation de composantJoomla" style="font-size: 8px;; visibility: visible;display:inline;" href="http://www.faboba.com" target="_blank">FaLang translation system by Faboba</a></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
