<script type="text/javascript">
    EventGallerySlideShowConfiguration = { "slideshow": false, "slideshowAuto": false, "slideshowSpeed": "3000", "slideshowStart": "Start Slideshow", "slideshowStop": "Stop Slideshow", "slideshowCurrent": "{current} of {total}", "slideshowRightClickProtection": false };
    EventGalleryLightboxConfiguration = { "navigationFadeDelay": "0" };
    EventGalleryCartConfiguration = { "add2carturl": "\/\u0433\u0430\u043b\u0435\u0440\u0438\u044f\/singleimage?layout=imagesetselection&format=raw" };
    jQuery(function ($) { $(".hasTooltip").tooltip({ "html": true, "container": "body" }); });
</script>

<div class="sparky_full contentrow">
    <div class="container">
        <div class="row">
            <div class="content_sparky span12">
                <div class="cell_pad">
                    <div id="system-message-container">
                    </div>











                    <style type="text/css">
                        .eventgallery-add2cart {
                            display: none !important;
                        }
                    </style>











                    <p class="eventgallery-category-content"></p>




                    <h2 class="eventgallery-subcategories">Subcategories</h2>

                    <ul class="nav eventgallery-subcategories-list">


                        <li>

                            <a >

                                Галерия
                            </a>

                        </li>


                    </ul>








                    <div id="events">




                        <p class="greetings"></p>




                        <div class="eventgallery-events-gridlist">






                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Fitness">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">Фитнес</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="1152" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=fitness&amp;file=fitness_6+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Фитнес" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>





                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Spa">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">СПА</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="1212" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=Spa&amp;file=Hamam+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="СПА" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>





                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Pool">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">Басейн</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="1202" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=Basein&amp;file=IMG_1606+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Басейн" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>





                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Solarium">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">Сoлариум - Колариум</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=Solarium&amp;file=Solarium-Colarium-02+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Сoлариум - Колариум" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>





                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Icaros">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">ICAROS</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="768" data-height="1152" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=Aparati&amp;file=Icaros+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="ICAROS" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>





                            <div class="item-container item-container-big">

                                <div class="item item_first">

                                    <a href="/Gallery/Massages">

                                        <div class="content">

                                            <div class="data">


                                                <div class="title">Масажи</div>






                                            </div>



                                            <div class="images event-thumbnails">








                                                <div class="event-thumbnail">


                                                    <img class="eventgallery-lazyme " data-width="768" data-height="1152" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=crop&amp;width=50&amp;folder=massages&amp;file=IMG_1616+Medium.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Масажи" />


                                                </div>



                                                <div style="clear:both"></div>

                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>



                            <div style="clear:both"></div>

                        </div>



                        <form method="post" name="adminForm">


                            <div class="pagination">

                                <div class="counter pull-right"></div>

                                <div class="float_left"></div>

                                <div class="clear"></div>

                            </div>


                        </form>




                    </div>







                    <div><a title="Faboba : Cr&eacute;ation de composantJoomla" style="font-size: 8px;; visibility: visible;display:inline;" href="http://www.faboba.com" target="_blank">FaLang translation system by Faboba</a></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
<script type="text/javascript">
    jQuery(function () {
        jQuery('#gallery a').lightBox({
            imageLoading: 'http://vgym.bg/modules/mod_hot_lightbox/images/lightbox-ico-loading.gif',
            imageBtnPrev: 'http://vgym.bg/modules/mod_hot_lightbox/images/lightbox-btn-prev.gif',
            imageBtnNext: 'http://vgym.bg/modules/mod_hot_lightbox/images/lightbox-btn-next.gif',
            imageBtnClose: 'http://vgym.bg/modules/mod_hot_lightbox/images/lightbox-btn-close.gif',
            imageBlank: 'http://vgym.bg/modules/mod_hot_lightbox/images/lightbox-blank.gif'
        });
        jQuery('#gallery img').last().css('margin-right', '0px');
    });
</script>
