<script type="text/javascript">
    EventGallerySlideShowConfiguration = { "slideshow": false, "slideshowAuto": false, "slideshowSpeed": "3000", "slideshowStart": "Start Slideshow", "slideshowStop": "Stop Slideshow", "slideshowCurrent": "{current} of {total}", "slideshowRightClickProtection": false };
    EventGalleryLightboxConfiguration = { "navigationFadeDelay": "0" };
    EventGalleryCartConfiguration = { "add2carturl": "\/\u0433\u0430\u043b\u0435\u0440\u0438\u044f\/singleimage?layout=imagesetselection&format=raw" };
</script>
<div class="sparky_full contentrow">
    <div class="container">
        <div class="row">
            <div class="content_sparky span12">
                <div class="cell_pad">
                    <div id="system-message-container">
                    </div>







                    <style type="text/css">
                        .eventgallery-add2cart {
                            display: none !important;
                        }
                    </style>







                    <div itemscope itemtype="http://schema.org/Event" id="event">


                        <h1 itemprop="name" class="displayname">

                            Сoлариум - Колариум
                        </h1>






                        <div itemprop="description" class="text">


                        </div>


                        <div style="display:none">

                            <meta itemprop="image" content="http://vgym.bg/галерия/download/Solarium/IMG_1580%20Large-jpg/?is_for_sharing=true" /><link rel="image_src" tpe="image/jpeg" href="http://vgym.bg/галерия/download/Solarium/IMG_1580%20Large-jpg/?is_for_sharing=true" />
                            <span itemprop="startDate" content="2017-09-11 04:46:00">

                                Понеделник, 11 Септември 2017
                            </span>

                        </div>









                        <div class="eventgallery-event-gridlist">

                            <div class="eventgallery-simplelist eventgallery-thumbnails thumbnails">




                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=Solarium&file=IMG_1580+Large.jpg"
                                           title=""
                                           data-title=""
                                           rel="galleryba784f29132e4a18ad3fbfbebfe981d4" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1620" data-height="1080" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=Solarium&amp;file=IMG_1580+Large.jpg" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Сoлариум - Колариум" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=Solarium&file=Solarium-Colarium-01+Medium.JPG"
                                           title=""
                                           data-title=""
                                           rel="galleryba784f29132e4a18ad3fbfbebfe981d4" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=Solarium&amp;file=Solarium-Colarium-01+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Сoлариум - Колариум" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>






                                <div class="eventgallery-simplelist-tile thumbnail-container">

                                    <div class="event-thumbnails">

                                        <a class="event-thumbnail thumbnail" href="http://vgym.bg/components/com_eventgallery/helpers/image.php?&mode=full&folder=Solarium&file=Solarium-Colarium-02+Medium.JPG"
                                           title=""
                                           data-title=""
                                           rel="galleryba784f29132e4a18ad3fbfbebfe981d4" data-eventgallery-lightbox="gallery">
                                            <img class="eventgallery-lazyme " data-width="1150" data-height="768" longdesc="http://vgym.bg/components/com_eventgallery/helpers/image.php?&amp;mode=nocrop&amp;width=50&amp;folder=Solarium&amp;file=Solarium-Colarium-02+Medium.JPG" src="http://vgym.bg/media/com_eventgallery/frontend/images/blank.gif" style=" width: 50px; height: 50px; background-position: 50% 50%; background-repeat: no-repeat;" alt="Сoлариум - Колариум" />

                                            <div class="eventgallery-icon-container">
                                            </div>

                                        </a>


                                        <div style="clear: both"></div>

                                    </div>

                                </div>




                                <div style="clear: both"></div>

                            </div>

                        </div>









                    </div>







                    <div><a title="Faboba : Cr&eacute;ation de composantJoomla" style="font-size: 8px;; visibility: visible;display:inline;" href="http://www.faboba.com" target="_blank">FaLang translation system by Faboba</a></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
