
<div class="sparky_full carouselrow">
    <div>
        <div class="row">
            <div class="cell mp_header1 span12 ">
                <div class="cell_pad">
                    <div class="moduletable">

                        <!-- Internet Explorer HTML5 fix -->
                        <!--[if lt IE 9]>
                            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                        <![endif]-->


                        <div class="hero">
                            <div class="hero-carousel">
                                <article class="carousel-article slide1" style="background-image:url(@Url.Content("~/Images/slide-1.jpg")); background-size:cover; background-position:top center">
                                    <div class="contents">
                                        <h2>Готови ли сте да влезете във форма?</h2>
                                        <p>Заповядайте във V GYM Fitness & SPA. Той е оборудван с уреди на италианската премиум марка Panatta, кардиосекция по дизайн на Pininfarina и хватове за упражнения за гръб MAG GRIP.</p>
                                        <a href="/bg/фитнес-и-спа/фитнес" class="button">Повече</a>
                                    </div>
                                </article>
                                <article class="carousel-article slide2" style="background-image: url(@Url.Content("~/Images/slide-2.jpg")); background-size: cover; background-position: top center">
                                    <div class="contents">
                                        <h2>Релаксирайте при нас</h2>
                                        <p>Екипът ни от кинезитерапевти и масажисти ще се погрижи да се отпуснете и да забравите за натовареното ежедневие, да поддържате отлична форма, да се възстановите след тренировка или да се заредите с енергия. </p>
                                        <a href="/bg/фитнес-и-спа/спа-помещения" class="button">Повече</a>
                                    </div>
                                </article>
                                <article class="carousel-article slide3" style="background-image: url(@Url.Content("~/Images/slide-3.jpg")); background-size: cover; background-position: top center">
                                    <div class="contents">
                                        <h2>Програми и хранителни режими специално за вас</h2>
                                        <p>Нашите треньори могат да направят специално за вас персонална фитнес програма и хранителен режим, съобразени с вашите нужди и цели. </p><a href="/bg/фитнес-и-спа/фитнес" class="button">Повече</a>
                                    </div>
                                </article>
                            </div>
                        </div>


                        <script type="text/javascript">

                            $(document).ready(function () {

                                /* calculates width of the carousel */
                                var bodyWidth = $('body').innerWidth();
                                $('.hero-carousel article.carousel-article').css('width', bodyWidth);

                                $('.hero-carousel').heroCarousel({
                                    navigation: true, easing: 'easeOutExpo',
                                    css3pieFix: true,
                                    prevText: '<i class="fa fa-arrow-circle-o-left"></i>',
                                    nextText: '<i class="fa fa-arrow-circle-o-right"></i>',
                                    animationSpeed: 1000,
                                    timeout: 5000,
                                    pause: false,
                                    pauseOnNavHover: true
                                });

                                $('.hero-carousel-nav').appendTo('article .contents'); // this moves navigation from default position to the text box

                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
<div class="sparky_full advertrow">
    <div class="container">
        <div class="row">
            <div class="cell mp_advert1 span4 ">
                <div class="cell_pad">
                    <div class="moduletable">


                        <div class="custom">
                        </div>
                    </div>

                </div>
            </div>
            <div class="cell mp_advert2 span4 ">
                <div class="cell_pad">
                    <div class="moduletable">


                        <div class="custom">
                        </div>
                    </div>

                </div>
            </div>
            <div class="cell mp_advert3 span4 ">
                <div class="cell_pad">
                    <div class="moduletable">


                        <div class="custom">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
<div class="sparky_full messagerow">
    <div class="container">
        <div class="row">
            <div class="cell mp_user1 span12 ">
                <div class="cell_pad">
                    <div class="moduletable">


                        <div class="custom">
                            <h2>Проверете Вашия V GYM абонамент онлайн </h2>
                            <p> </p>
                            <p><a class="button" href="http://stage.gymrealm.com/account?nameSpace=vgym&amp;gymId=969" target="_blank" rel="noopener noreferrer">Потребителски портал</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>

